<ion-view view-title="détails">

	<ion-nav-buttons side="right">
      <button class="button button-clear button-positive" on-release="toggleEditMode()">{{labels.editMode}}</button>
    </ion-nav-buttons>
	<ion-nav-title>
		{{interventions.detailedList[0]._TYPE}}
	</ion-nav-title>

	<ion-content>
		<ion-list show-delete="editMode">
			<ion-item href="#vitals" class="item"  ng-repeat="myAct in interventions.detailedList" >
					{{myAct._SUBTITLE_1}} {{myAct._SUBTITLE_2}}
					<ion-delete-button on-release="deleteElement(myAct._ID,$index,'list')" ng-if="editMode" class="ion-minus-circled">
					</ion-delete-button>
			</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
