<ion-view view-title="Vitals" class="fade-in">
	<ion-nav-title>
		<span>{{patient.Name}}</span>
	</ion-nav-title>
		<ion-tabs class="tabs-light tabs-color-positive" >

			<ion-tab title="Puls" ng-click="switchTab(0)">
				<ion-nav-view>
					<ion-content class="fullScreenChartContainer">
						<ion-scroll zooming="true" direction="xy" style="min-width: 100%; height: 100%">
							<canvas id="barChartVitals" on-double-tap="resetZoom()" class="chart chart-bar fullscreenChart"  data="dataPuls" labels="labelsPuls" options="optionsPuls">
							</canvas>
						</ion-scroll>
					</ion-content>
				</ion-nav-view>
			</ion-tab>

			<ion-tab title="T" ng-click="switchTab(1)">
				<ion-nav-view>
					<ion-content class="fullScreenChartContainer">
						<ion-scroll zooming="true" direction="xy" style="min-width: 100%; height: 100%">
							<canvas id="barChartVitals" on-double-tap="resetZoom()" class="chart chart-bar fullscreenChart"  data="dataT" labels="labelsT" options="optionsT">
							</canvas>
						</ion-scroll>
					</ion-content>
				</ion-nav-view>
			</ion-tab>

			<ion-tab title="TAH" ng-click="switchTab(2)">
				<ion-nav-view>
					<ion-content class="fullScreenChartContainer">
						<ion-scroll zooming="true" direction="xy" style="min-width: 100%; height: 100%">
							<canvas id="barChartVitals" on-double-tap="resetZoom()" class="chart chart-bar fullscreenChart"  data="dataTAH" labels="labelsTAH" options="optionsTAH">
							</canvas>
						</ion-scroll>
					</ion-content>
				</ion-nav-view>
			</ion-tab>

			<ion-tab title="Glyc" ng-click="switchTab(3)">
				<ion-nav-view>
					<ion-content class="fullScreenChartContainer">
						<ion-scroll zooming="true" direction="xy" style="min-width: 100%; height: 100%">
							<canvas id="barChartVitals" on-double-tap="resetZoom()" class="chart chart-bar fullscreenChart"  data="dataGlyc" labels="labelsGlyc" options="optionsGlyc">
							</canvas>
						</ion-scroll>
					</ion-content>
				</ion-nav-view>
			</ion-tab>

			<ion-tab title="Resp" ng-click="switchTab(4)">
				<ion-nav-view>
					<ion-content class="fullScreenChartContainer">
						<ion-scroll zooming="true" direction="xy" style="min-width: 100%; height: 100%">
							<canvas id="barChartVitals" on-double-tap="resetZoom()" class="chart chart-bar fullscreenChart"  data="dataResp" labels="labelsResp" options="optionsResp">
							</canvas>
						</ion-scroll>
					</ion-content>
				</ion-nav-view>
			</ion-tab>

		</ion-tabs>
</ion-view>