<ion-view view-title="interventions" on-swipe-right="$ionicGoBack()">

    <ion-nav-buttons side="right">
      <button class="button button-clear button-positive" on-release="print()">Envoyer</button>
    </ion-nav-buttons>
    <ion-nav-title on-swipe-right="changePatient(patient.Index)" on-swipe-left="changePatient(patient.Index)">
		<span class="ion-chevron-left hover" ng-click="changePatient(patient.Index)"></span> {{patient.Name}} <span class="ion-chevron-right hover" ng-click="changePatient(patient.Index)"></span>
	</ion-nav-title>

	<ion-nav-view ></ion-nav-view>
		<!-- delegates scrolling to ionic  http://ionicframework.com/docs/api/directive/ionContent/ -->
		<ion-content>
			<ion-list can-swipe="false">
				<div ng-repeat="acts in interventions.list | orderBy:'_PLANNED_DATETIME'" on-finish-render="scrollToCurrent" ng-init="counter=$index">

					<!-- multiple interventions of the same type at the same time -->
					<ion-item id="{{acts.TIME_TO_DO_IT}}" nav-direction="forward"  ng-class="{'item-balancedbis': acts.isDone, 'item-assertivebis' : acts.isDone === false}" on-tap="getDetailsOrVitals({{acts}})" class="item item-icon-left"  ng-if="acts.ACT.length >= 1 && acts.ACT.length < 14">
						<img class="icon hover" src="assets/domain/{{acts.iconeLink}}" alt="{{acts.iconeLink}}"/>
						<p class="text-left-interventions hover">
							{{acts._PLANNED_DATETIME_DISPLAY}}
							<strong>{{acts._TYPE}}</strong>
							<br/>
							{{acts._SUBTITLE_1}} {{acts._SUBTITLE_2}}
						</p>
					</ion-item>

					<!-- single intervention (on-tap ==> show details) -->
					<ion-item id="{{acts.TIME_TO_DO_IT}}"  class="item item-icon-left item-icon-right" ng-class="{'item-balancedbis': acts.isDone, 'item-assertivebis' : acts.isDone === false, active: isGroupShown(acts)}"  ng-if="acts.ACT.length == undefined" >
						<img class="icon" src="assets/domain/{{acts.iconeLink}}" alt="{{acts.iconeLink}}"/>
						<span on-tap="toggleGroup(acts)">
							{{acts._PLANNED_DATETIME_DISPLAY}}  {{acts._TIME}}
							<strong>{{acts.ACT._TITLE}}</strong>
							<br/>
							{{acts._SUBTITLE_1}} {{acts._SUBTITLE_2}}
						</span>
						<img class="icon hover" src="assets/Icon/notepad.png" ng-if="acts.isDone != true && acts.isDone != false" on-tap="showPopup(acts.ACT._ID,-1,'list')" alt="Notepad" />
						<ion-option-button class="button-assertive">Edit</ion-option-button>
						<ion-delete-button  on-tap="deleteElement(acts.ACT._ID,$index,'list')" ng-if="editMode" class="ion-minus-circled">
						</ion-delete-button>
					</ion-item>
					<ion-item class="item-accordion" ng-show="isGroupShown(acts)" ng-bind-html="acts.ACT.INFORMATION">
					</ion-item>
				</div>

			</ion-list>

		</ion-content>

		<ion-footer-bar align-title="left" id="height-footer" class="bar-light item-icon-left" nav-direction="forward"  on-tap="getDetails('Reserves')">
			<img class="icon hover" src="assets/domain/reserve.png"  alt="Reserve" />
			<p class="text-left-interventions">Réserve <br/>{{interventions.reserve._SUBTITLE_1}} {{interventions.reserve._SUBTITLE_2}}</p>
		</ion-footer-bar>
</ion-view>
