<div class="bar bar-header">
  <button class="button button-icon icon ion-navicon"></button>
  <div class="h1 title">Interventions</div>
  <button class="button button-clear button-positive">Edit</button>
</div>

<!-- delegates scrolling to ionic  http://ionicframework.com/docs/api/directive/ionContent/ -->
<ion-content>
	<div class="list">
		<div ng-repeat="acts in interventions.list | orderBy:'_PLANNED_DATETIME'">
			<div class="item item-divider"> 
				{{acts._TYPE}} - {{acts._PLANNED_DATETIME_DISPLAY}}
			</div>
			<a href="#" class="item" ng-if="acts.ACT.length == 2" ng-repeat="myAct in acts.ACT" >
				{{myAct._TITLE}}
			</a>
			<a href="#" class="item" ng-if="acts.ACT.length != 2" >
				{{acts.ACT._TITLE}}
			</a>
		</div>
	</div>
</ion-content>
