<!-- gestion menu offcanvas -->
<ion-side-menus>
<!-- contenu de la page -->
	<ion-side-menu-content>
		<ion-header-bar align-title="left" class="bar-header">
			<div class="buttons">
				<button  menu-toggle="left" class="button button-icon icon ion-navicon" ></button>
			</div>
			<h1 class="title">Interventions</h1>
			<div class="buttons">
				<button class="button button-clear button-positive" on-release="toggleEditMode()">{{labels.editMode}}</button>
			</div>
		</ion-header-bar>
		<!-- delegates scrolling to ionic  http://ionicframework.com/docs/api/directive/ionContent/ -->
		<ion-content>
			<ion-list show-delete="editMode">

				<ion-item ng-if="interventions.reserve.length > 0" class="item item-divider">
					Réserve
				</ion-item>

				<ion-item href="#" class="item"  ng-repeat="myAct in interventions.reserve[0].ACT" >
						{{myAct._TITLE}}
						<ion-delete-button on-release="deleteElement(-1,$index,'reserve')" ng-if="editMode" class="ion-minus-circled">
						</ion-delete-button>
				</ion-item>

				<div ng-repeat="acts in interventions.list | orderBy:'_PLANNED_DATETIME'" ng-init="counter=$index">
					<ion-item class="item item-divider"  >
						{{acts._TYPE}} - {{acts._PLANNED_DATETIME_DISPLAY}}
					</ion-item>

					<ion-item href="#" class="item" ng-if="acts.ACT.length >= 1 && acts.ACT.length < 14" ng-repeat="myAct in acts.ACT" >
							{{myAct._TITLE}} {{counter}}<!-- passer l'ID au lieu du counter -->
							<ion-delete-button on-release="deleteElement(counter,$index,'list')" ng-if="editMode" class="ion-minus-circled">
							</ion-delete-button>
					</ion-item>

					<ion-item href="#" class="item" ng-if="acts.ACT.length == undefined" >
						{{acts.ACT._TITLE}}
						<ion-delete-button on-release="deleteElement(-1,$index,'list')" ng-if="editMode" class="ion-minus-circled">
						</ion-delete-button>
					</ion-item>
				</div>
			</ion-list>
		</ion-content>
	</ion-side-menu-content>
	<!-- Left menu -->
	<ion-side-menu side="left">

	</ion-side-menu>

</ion-side-menus>
